.contact-info {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 5;
  width: 300px;
  vertical-align: middle;
  background-color: rgba(45, 45, 45, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.contact-info {
  width: 100vw;
  bottom: 0;
  left: 0;
}
}
