#personalTitle {
  color: #f47442;
  margin-top: 40px;
}

.personal-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  z-index: 4;
}

.chevron-personal {
  margin-top: -5px;
  .chevron {
    height: 275px;
    z-index: 4;
  }
  .chevron:before {
    background: rgb(240,240,240);
  }
  .chevron:after {
    background: rgb(240,240,240);
  }
}

.flare-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  margin-top: 40px;
  z-index: 4;
  color: $dark-grey;
  left: -60px;
  padding-left: 120px;
  img {
    height: 65px;
  }
}

.chevron-flare {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
    z-index: 4;
  }
  .chevron:before {
    background: rgb(235,235,235);
  }
  .chevron:after {
    background: rgb(235,235,235);
  }
}




.spaceapps-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  margin-top: 10px;
  z-index: 4;
  color: white;
  left: -60px;
  padding-left: 120px;
  .more-info-container {
    margin-top: 20px;
  }
  img {
    height: 140px;
  }
}

.chevron-spaceapps {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
    z-index: 4;
  }
  .chevron:before {
    background: #4a4a4a;
  }
  .chevron:after {
    background: #4a4a4a;
  }
}


.hackthenorth-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  margin-top: 40px;
  z-index: 4;
  color: white;
  left: -60px;
  padding-left: 120px;
  img {
    height: 65px;
  }
}

.chevron-hackthenorth {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
    z-index: 4;
  }
  .chevron:before {
    background: #282828;
  }
  .chevron:after {
    background: #282828;
  }
}


.mhacks-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  margin-top: 40px;
  z-index: 4;
  color: rgb(219,65,58);
  left: -60px;
  padding-left: 120px;
  img {
    height: 65px;
  }
}

.chevron-mhacks {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
    z-index: 4;
  }
  .chevron:before {
    background: rgb(247,218,147);
  }
  .chevron:after {
    background: rgb(247,218,147);
  }
}

.my-footer {
  background: white;
  height: 400px;
  position: relative;
  margin-top: -300px;
  opacity: 0.95;
  color: $dark-grey;
  font-family: HelveticaNeue-Thin;
  text-align: center;
  margin-right: -2px;
  span {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}
