#workTitle {
  color: #1fc69d;
  margin-top: 75px;
}

.work-container {
  position: absolute;
  top: calc(130vh + 950px);
}

.chevron-work {
  margin-top: -5px;
  .chevron {
    height: 275px;
  }
  .chevron:before {
    background: rgb(245,245,245);
  }
  .chevron:after {
    background: rgb(245,245,245);
  }
}


.tribalscale-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height});
  margin-top: 75px;
  z-index: 3;
  color: white;
  img {
    height: 65px;
  }
}

.chevron-tribalscale {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
    z-index: 3;
  }
  .chevron:before {
    background: rgb(1,119,154);
  }
  .chevron:after {
    background: rgb(1,119,154);
  }
}



.skywatch-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height});
  margin-top: 75px;
  z-index: 3;
  color: white;
  img {
    height: 65px;
  }
}

.chevron-skywatch {
  margin-top: -5px;
  .chevron {
    height: $info-container-height;
  }
  .chevron:before {
  }
  .chevron:after {
  }
}

.skywatch-bg {
  z-index: 2;
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height});
}



.redlab-container {
  position: absolute;
  top: calc(130vh + 950px + #{$info-container-height} + #{$info-container-height} + #{$info-container-height});
  margin-top: 60px;
  z-index: 4;
  color: rgb(3, 92, 58);
  img {
    height: 65px;
  }
}

.chevron-redlab {
  margin-top: -5px;

  z-index: 4;
  .chevron {
    z-index: 4;
    height: $info-container-height;
  }
  .chevron:before {
    background: rgb(245,245,245);
  }
  .chevron:after {
    background: rgb(245,245,245);
  }
}

.more-info-container {
  margin-top: $body-margin-top;
  width: $body-width;
  height: 150px;
  text-align: center;
  font-size: $body-font-size;
  span {
    width: 50%;
  }
}
