.chevron-about {
  .chevron {
    height: 950px;
  }
  .chevron:before {
    background: rgb(250,250,250);
  }
  .chevron:after {
    background: rgb(250,250,250);
  }
}

.about-container {
  position: absolute;
  top: 130vh; // height of intro container
}

.moonTitle{
  font-family: MoonBold;
  font-size: 4em;
  text-align: center;
  position: relative;
  letter-spacing: 2vw;
  text-indent: 2vw;
  display: block;
}

#aboutTitle {
  color: #FF6666;
  margin-top: 40px;
}

#aboutText{
  font-family: DosisBold;
  font-size: 1.0em;
  text-align: center;
  margin-top: 5%;
  position: relative;
  color: #8F8D8A;
  width: 50vw;
  display: block;
  margin-right: auto;
  margin-left: auto;

  line-height: 2.1em;
  z-index: 10000;
}
