@font-face {
    font-family: Againts;
    src: url(../fonts/againts.ttf);
}

@font-face {
    font-family: HelveticaNeueThin;
    src: url(../fonts/HelveticaNeue-Thin.otf);
}

@font-face {
  font-family: MoonBold;
  src: url(../fonts/Moon-Bold.otf);
}

@font-face {
  font-family: MoonLight;
  src: url(../fonts/Moon-Light.otf);
}

@font-face {
  font-family: Antipasto-extralight;
  src: url(../fonts/Antipasto_extralight.otf);
}

@font-face {
  font-family: Antipasto-extrabold;
  src: url(../fonts/Antipasto_extrabold.otf);
}

@font-face {
  font-family: Antipasto-regular;
  src: url(../fonts/Antipasto_regular.otf);
}
